html {
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  color: gray;
  font-size: 14px;
  text-align: center;
}
header {

}
nav {
  font-family: Helvetica;
  font-size: 18px;
}
nav ul {
  margin: 0px;
}
nav li {
  list-style: none;
  padding: 10px 0px;
}
nav ul li a {
  color: #fff;
}
h1, h2, h3 {
  font-family: Helvetica;
  font-weight: bold;
}
h1 {
  font-size: 70px;
  color: #fff;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
.flatiron-building {
    background-image: url("../images/the-flatiron-building.png");
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: dimgray;
}
footer {
  background-color: dimgray;
  color: #fff;
  padding: 10px 0;
  text-align: left;
}
footer nav, footer p {
  display: inline;
}
footer nav ul {
  display: inline;
  text-align: left;
}
footer nav li {
  list-style: none;
  display: inline;
}
.copyright {
  font-size: 11px;
}
